<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="{{{global.img_favicon}}}=s32-c" type="image/png" rel="icon" />
<link href="{{{cdn}}}/dist/css/style.min.css" rel="stylesheet">
