<!doctype html>
<html lang="en">
<head>
    <title>The Gallery</title>
    <meta name="description" content="" />

    {{>head}}
</head>

<body>
    <div class="blocks-page">
        {{>header2}}

        {{>hero}}
        {{>features}}
        {{>gallery}}
        {{>pricing}}
        {{>testimonial}}
        {{>faq}}
        {{>service}}
        {{>posts}}
        {{>contact}}

        {{>footer}}
    </div>

    {{>scripts}}
</body>
</html>
