<!doctype html>
<html lang="en">
<head>
    <title>{{global.site_name}}</title>
    <meta name="description" content="" />

    {{>head}}
</head>

    <body>
        <div id="vertex-container" class="blog-page">
            {{>header2}}

            <section class="py-5 mb-5">
                <div class="container post-content pt-5">
                    <h1 class="section-title position-relative text-center pb-3 mt-5">Blog</h1>
                    <div class="row mt-5 pt-3">
                        {{#posts}}
                        <div class="col-md-4 mb-2r">
                            <div class="post mb-5">
                                <a class="img-post" href="/post/{{{slug}}}">
                                    <img src="{{{image}}}" class="img-fluid">
                                </a>
                                <div class="post-content mt-2r">
                                    <span class="date">{{dateString}}</span>
                                    <a href="/post/{{{slug}}}"><h4>{{title}}</h4></a>
                                </div>
                            </div>
                        </div>
                        {{/posts}}
                    </div>
                </div>
            </section>

            {{>footer}}

        </div>

        {{>scripts}}
    </body>
</html>
