<section class="py-md-5 block text-center contact-block">
    <div class="container">
        <div class="row block-header">
            <div class="col-sm-8 mx-auto text-center">
                <h1 class="display-4 mt-2 section-title">Get Started Free</h1>
                <hr>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, totam ipsa quia hic odit a sit laboriosam voluptatem in, blanditiis.</p>
            </div>
        </div>
        <div class="row mt-5">
            <form class="col-md-4 col-xl-4 mx-auto input-border">
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-lg" placeholder="Password">
                </div>
                <button class="btn btn-block btn-lg btn-info">Sign up</button>
            </form>
        </div>
    </div>
</section>

<section class="py-md-5 mb-2r">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 mx-auto text-center">
                <h1 class="display-4 mt-2 section-title">Contact Us</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, totam ipsa quia hic odit a sit laboriosam voluptatem in, blanditiis.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-6 mx-auto" data-aos="fade-left" data-aos-duration="1000">
                <form action="" method="post">
                    <div class="form-group">
                        <input type="text" id="edd-user-name" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" id="edd-user-email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" id="edd-user-subject" class="form-control" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="edd-user-message" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" id="btn-register" class="btn btn-primary btn-send-message" value="Send Message">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
    

<section class="bg-dark">
    <div class="container py-5">
        <div class="row section-intro">
            <div class="col-12 text-center">
                <h3 class="h1 text-white font-300">Don’t even wait, sign up now for a 30 day trial.</h3>
            </div>
        </div>
        <form class="form-horizontal pt-4">
            <div class="row mb-5">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="form-group">
                        <label class="text-white" for="username">Username</label>
                        <input id="username" type="text" class="form-control form-control-lg" placeholder="Pick a username">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="form-group">
                        <label class="text-white" for="email">Email Address</label>
                        <input id="email" type="email" class="form-control form-control-lg" placeholder="you@domain.com">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="form-group">
                        <label class="text-white" for="password">Password</label>
                        <input id="password" type="password" class="form-control form-control-lg" placeholder="Choose a password">
                        <small class="form-text text-white">At least seven letters with one numeral</small>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="form-group">
                        <label class="text-white" for="button">&nbsp;</label>
                        <button id="button" type="submit" class="btn btn-lg btn-block btn-success">Sign up</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="bg-gray">
    <div class="container py-5">
        <div class="row section-intro">
            <div class="col-12 text-center">
                <h3 class="h1 font-300">Don’t even wait, sign up now for a 30 day trial.</h3>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
        <form class="form-horizontal pt-4">
            <div class="row mb-5">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input id="username" type="text" class="form-control form-control-lg" placeholder="Pick a username">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input id="email" type="email" class="form-control form-control-lg" placeholder="you@domain.com">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" type="password" class="form-control form-control-lg" placeholder="Choose a password">
                        <small class="form-text">At least seven letters with one numeral</small>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="form-group">
                        <label for="button">&nbsp;</label>
                        <button id="button" type="submit" class="btn btn-lg btn-block btn-success">Sign up</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>