<section class="section">
    <div class="container">
        <div class="row block-header">
            <div class="col-sm-8 mx-auto text-center">
                <h1 class="display-4 mt-2 section-title">Frequently Asked Questions</h1>
                <hr>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, totam ipsa quia hic odit a sit laboriosam voluptatem in, blanditiis.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 mb-4">
                <h5>What payment services do you support?</h5>
                <p>Lacus laoreet non curabitur gravida arcu.</p>
            </div>
            <div class="col-md-6 mb-4">
                <h5>Can I update my card details?</h5>
                <p>Yes. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
            </div>
            <div class="col-md-6 mb-4">
                <h5>Is this a secure site for purchases?</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-md-6 mb-4">
                <h5>Can I cancel my subscription?</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut pharetra sit amet aliquam id diam maecenas ultricies mi.</p>
            </div>
            <div class="col-md-6 mb-4">
                <h5>How long are your contracts?</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-md-6 mb-4">
                <h5>Can I request refund?</h5>
                <p>Unfortunately, not. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
            </div>
        </div>

    </div>
</section>