<section class="py-md-5 block">
    <div class="container">
        <div class="row block-header">
            <div class="col-sm-8 mx-auto text-center">
                <h1 class="display-4 mt-5">Features</h1>
                <hr>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, totam ipsa quia hic odit a sit laboriosam voluptatem in, blanditiis.</p>
            </div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col-md-6 col-xl-4">
                <p class="feature-icon"><img src="{{{page.features.feature-1.img_1}}}" alt=""/></p>
                <h5>Preprocessors</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
            <div class="col-md-6 col-xl-4">
                <p class="feature-icon"><img src="{{{page.features.feature-1.img_2}}}" alt=""/></p>
                <h5>One framework, every device</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
            <div class="col-md-6 col-xl-4">
                <p class="feature-icon"><img src="{{{page.features.feature-1.img_2}}}" alt=""/></p>
                <h5>Full of features</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
        </div>
    </div>
</section>

<section class="py-md-5 block feature-block">
    <div class="container">
        <div class="row block-header">
            <div class="col-sm-8 mx-auto text-center">
                <h2 class="display-4 mt-2">Features</h2>
                <hr>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, totam ipsa quia hic odit a sit laboriosam voluptatem in, blanditiis.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 col-lg-3">
                <a class="card card-body border text-center" href="#">
                    <p class="feature-icon"><img src="{{{page.features.feature-2.img_1}}}" alt=""/></p>
                    <h5 class="card-title text-dark mb-0">Responsive</h5>
                </a>
            </div>
            <div class="col-6 col-lg-3">
                <a class="card card-body border text-center" href="#">
                    <p class="feature-icon"><img src="{{{page.features.feature-2.img_2}}}" alt=""/></p>
                    <h5 class="card-title text-dark mb-0">Customizable</h5>
                </a>
            </div>
            <div class="col-6 col-lg-3">
                <a class="card card-body border text-center" href="#">
                    <p class="feature-icon"><img src="{{{page.features.feature-2.img_3}}}" alt=""/></p>
                    <h5 class="card-title text-dark mb-0">UI Elements</h5>
                </a>
            </div>
            <div class="col-6 col-lg-3">
                <a class="card card-body border text-center" href="#">
                    <p class="feature-icon"><img src="{{{page.features.feature-2.img_4}}}" alt=""/></p>
                    <h5 class="card-title text-dark mb-0">Clean Code</h5>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="py-md-5 block feature-block">
    <div class="container">
        <div class="row justify-content-center text-center block-header">
            <div class="col-12 col-md-9 col-lg-8">
                <h2 class="display-4 mt-2">Features</h2>
                <hr>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, totam ipsa quia hic odit a sit laboriosam voluptatem in, blanditiis.</p>
            </div>
        </div>
        <ul class="row feature-list">
            <li class="col-10 col-md-6">
                <div class="media align-items-center mb-5">
                    <a href="#">
                        <img alt="Image" class="feature-img mr-4" src="{{{page.features.feature-3.img_1}}}" />
                    </a>
                    <div class="media-body">
                        <h4>Based on Bootstrap 4</h4>
                        <p class="mt-1">
                            A short description of the aforementioned facet to easily digest, no need for too much detail.
                        </p>
                    </div>
                </div>
            </li>

            <!--end of col-->
            <li class="col-12 col-md-6">
                <div class="media align-items-center mb-5">
                    <a href="#">
                        <img alt="Image" class="feature-img mr-4" src="{{{page.features.feature-3.img_2}}}" />
                    </a>
                    <div class="media-body">
                        <h4>Gulp Workflow</h4>
                        <p class="mt-1">
                            A short description of the aforementioned facet to easily digest, no need for too much detail.
                        </p>
                    </div>
                </div>
            </li>

            <!--end of col-->
            <li class="col-12 col-md-6">
                <div class="media align-items-center mb-5">
                    <a href="#">
                        <img alt="Image" class="feature-img mr-4" src="{{{page.features.feature-3.img_3}}}" />
                    </a>
                    <div class="media-body">
                        <h4>Styled with Sass</h4>
                        <p class="mt-1">
                            A short description of the aforementioned facet to easily digest, no need for too much detail.
                        </p>
                    </div>
                </div>
            </li>

            <li class="col-12 col-md-6">
                <div class="media align-items-center mb-5">
                    <a href="#">
                        <img alt="Image" class="feature-img mr-4" src="{{{page.features.feature-3.img_4}}}" />
                    </a>
                    <div class="media-body">
                        <h4>Built with HTML5</h4>
                        <p class="mt-1">
                            A short description of the aforementioned facet to easily digest, no need for too much detail.
                        </p>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</section>


<!-- Feature 2 Block -->
<section class="py-md-5 block">
    <div class="container py-5">
        <div class="row block-header">
            <div class="col-sm-8 mx-auto text-center">
                <h1 class="display-4 mt-2 section-title">Features</h1>
                <hr>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, totam ipsa quia hic odit a sit laboriosam voluptatem in, blanditiis.</p>
            </div>
        </div>
        <div class="row mt-5 align-items-center mb-5">
            <div class="col-md-6 ml-0">
                <h4>Nibh mauris cursus mattis molestie</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            </div>
            <div class="col-md-5 order-md-first">
                <img class="rounded-corner" src="{{{page.features.feature-4.img_1}}}" alt="...">
            </div>
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-md-6 mr-0">
                <h4>Consequat nisl vel pretium lectus</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            </div>
            <div class="col-md-5">
                <img class="rounded-corner" src="{{{page.features.feature-4.img_2}}}" alt="...">
            </div>
        </div>
    </div>
</section>

<section class="py-md-5" style="background:#f9f9f9">
    <div class="container py-5">
        <div class="row justify-content-center text-center section-intro">
            <div class="col-12 col-md-9 col-lg-8">
                <h1 class="display-4 ">Prepare for disruption</h1>
                <p class="lead">An opportunity to introduce the major benefits of your product and set the scene for what's to come</p>
            </div>
        </div>

        <ul class="feature-list feature-list-lg">
            <li class="row align-items-center mb-4">
                <div class="col-12 col-md-6 col-lg-3 offset-lg-2">
                    <img class="img-fluid rounded" alt="Image" src="{{{page.features.feature-5.img_1}}}=s1024-c" />
                </div>

                <div class="col-12 col-md-6 col-lg-6">
                    <h5>Set your phasers to stun</h5>
                    <p>
                        A paragraph, from the Greek paragraphos, "to write beside" or "written beside", is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences.
                    </p>
                    <a href="#">More about Phasers &rsaquo;</a>
                </div>
            </li>

            <li class="row align-items-center mb-4">
                <div class="col-12 col-md-6 col-lg-3 offset-lg-2">
                    <img class="img-fluid rounded" alt="Image" src="{{{page.features.feature-6.img_1}}}=s1024-c" />
                </div>
                <!--end of col-->
                <div class="col-12 col-md-6 col-lg-6">
                    <h5>Set your phasers to stun</h5>
                    <p>
                        A paragraph, from the Greek paragraphos, "to write beside" or "written beside", is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences.
                    </p>
                    <a href="#">More about Phasers &rsaquo;</a>
                </div>
            </li>

            <li class="row align-items-center mb-4">
                <div class="col-12 col-md-6 col-lg-3 offset-lg-2">
                    <img class="img-fluid rounded" alt="Image" src="{{{page.features.feature-5.img_2}}}=s1024-c" />
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <h5>Set your phasers to stun</h5>
                    <p>
                        A paragraph, from the Greek paragraphos, "to write beside" or "written beside", is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences.
                    </p>
                    <a href="#">More about Phasers &rsaquo;</a>
                </div>
            </li>
        </ul>
    </div>
</section>


<section class="bg-white fullwidth-split">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-12 col-sm-5 col-lg-6 fullwidth-split-image d-sm-flex align-items-center pt-0">
                <img style="width:105%" alt="Image" src="https://lh3.googleusercontent.com/Sni_VgZdD8C9TEC1hh7DH70FOjSsr9tdpFcE67AEL3xFhbcVNLPGdCjFt9Iaxn0eqxYCqMW3EXMn1oV0aBuLrNlSlg=s1024">
            </div>
            <!--end of col-->
            <div class="col-12 col-sm-7 col-lg-6 fullwidth-split-text pt-0">
                <div class="col-12 col-sm-8">
                    <h3 class="display-4 mt-5">Build a stunning website or app</h3>
                    <p class="lead">
                        A robust suite of styled components, powered by Bootstrap 4.  Take the design of your website or webapp up a notch.
                    </p>
                    <a href="#" class="btn btn-outline-primary btn-lg">Tell me more</a>
                </div>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>