<section class="py-5 py-md-7">
    <div class="container py-md-5">
        <div class="row block-header">
            <div class="col-sm-8 mx-auto text-center">
                <h1 class="display-4 mt-2">Gallery</h1>
                <hr>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, totam ipsa quia hic odit a sit laboriosam voluptatem in, blanditiis.</p>
            </div>
        </div>

        <div class="row mt-5 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
            <div class="col-md-4 col-sm-12 mb-2r">
                <a href="/project/portfolio-2zw61z">
                    <div class="position-relative project">
                        <div class="image position-relative ">
                            <img src="{{{page.gallery.img_1}}}" class="img-fluid w-100 d-block">
                            <div class="overlay-box">
                                <div class="overlay-inner overlay-content">
                                    <h5 class="mb-0">Portfolio</h5>
                                    <p>Design</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-12 mb-2r">
                <a href="/project/agency-web-8jcmww">
                    <div class="position-relative project">
                        <div class="image position-relative ">
                            <img src="{{{page.gallery.img_2}}}" class="img-fluid w-100 d-block">
                            <div class="overlay-box">
                                <div class="overlay-inner overlay-content">
                                    <h5 class="mb-0">Agency Web</h5>
                                    <p>Design</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-12 mb-2r">
                <a href="/project/painting-k7u7ow">
                    <div class="position-relative project">
                        <div class="image position-relative ">
                            <img src="{{{page.gallery.img_3}}}" class="img-fluid w-100 d-block">
                            <div class="overlay-box">
                                <div class="overlay-inner overlay-content">
                                    <h5 class="mb-0">Painting</h5>
                                    <p>Design</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-12 mb-2r">
                <a href="/project/web-app-ajs763">
                    <div class="position-relative project">
                        <div class="image position-relative ">
                            <img src="{{{page.gallery.img_4}}}" class="img-fluid w-100 d-block">
                            <div class="overlay-box">
                                <div class="overlay-inner overlay-content">
                                    <h5 class="mb-0">Web App</h5>
                                    <p>Development</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-12 mb-2r">
                <a href="/project/business-tyb3es">
                    <div class="position-relative project">
                        <div class="image position-relative ">
                            <img src="{{{page.gallery.img_5}}}" class="img-fluid w-100 d-block">
                            <div class="overlay-box">
                                <div class="overlay-inner overlay-content">
                                    <h5 class="mb-0">Business</h5>
                                    <p>Marketing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-12 mb-2r">
                <a href="/project/modern-web-44gypc">
                    <div class="position-relative project">
                        <div class="image position-relative ">
                            <img src="{{{page.gallery.img_6}}}" class="img-fluid w-100 d-block">
                            <div class="overlay-box">
                                <div class="overlay-inner overlay-content">
                                    <h5 class="mb-0">Modern Web</h5>
                                    <p>Seo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>