<section class="bg-white py-4">
    <div class="container pt-4">
        <div class="row align-items-center justify-content-around header-row">
            <div class="col-12 col-md-5 col-lg-5 text-center text-md-left">
                <h1 class="display-4 mobile-header">Ready, Set, Grow</h1>
                <p class="lead mt-3">A robust suite of styled components, powered by Bootstrap 4.  Take the design of your website or webapp up a notch.</p>
                <div class="mb-4">
                    <span class="text-muted text-small">* Join today to start your 14 day trial</span>
                </div>
                <a href="#" class="btn btn-success btn-lg">Get Started Now</a>
            </div>
            <div class="col-md-7">
                <img alt="Image" src="{{{page.hero.img_1}}}" class="box-shadow img-fluid" />
            </div>
        </div>
    </div>
</section>

<section style="background:url('{{{page.hero.img_2}}}=s2048');background-size:cover;background-position:center;" class="text-white">
    <div class="gradient-div">
        <div class="container py-5">
            <div class="row header-row">
                <div class="col-12 col-md-9 col-lg-6">
                    <h1 class="display-3 text-white mt-5">Ready, Set, Grow.</h1>
                    <p class="lead text-white">A robust suite of styled components, powered by Bootstrap 4.  Take the design of your website or webapp up a notch.</p>
                    <div class="mb-4">
                        <span class="text-small text-white">* Join today to start your 14 day trial</span>
                    </div>
                    <a href="#" class="btn btn-info btn-lg">Get Started Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="background:url('{{{page.hero.img_3}}}=s2048');background-size:cover;background-position:center;" class="bg-dark">
    <div class="gradient-div py-3">
        <div class="container">
            <div class="row align-items-center justify-content-between header-row">
                <div class="col-12 col-md-6 col-lg-6 section-intro">
                    <h1 class="display-4 text-white">Build a Stunning website</h1>
                    <span class="lead text-white">
                        A robust suite of styled components, powered by Bootstrap 4. Ready to take your Website or App up a notch?
                    </span>
                </div>
                <!--end of col-->
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputUsername">Username</label>
                                    <input type="text" class="form-control form-control-lg" id="exampleInputUsername" aria-describedby="usernameHelp" placeholder="Pick a username">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail">Email address</label>
                                    <input type="email" class="form-control form-control-lg" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                                    <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword">Password</label>
                                    <input type="password" class="form-control form-control-lg" id="exampleInputPassword" placeholder="Password">
                                </div>
                                <div class="mb-3">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="agree" name="agree-terms" id="check-agree">
                                        <label class="custom-control-label text-small" for="check-agree">I agree to the <a href="#">Terms &amp; Conditions</a>
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-lg btn-success btn-block">Sign Up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
    </div>
</section>

<section style="background:url('{{{page.hero.img_4}}}=s2048');background-size:cover;background-position:center;">
    <div class="gradient-div py-3" style="height:76vh">

        <div class="container">
            <div class="row justify-content-center header-row">
                <div class="col-12 col-md-8 col-lg-7 text-center text-white">
                    <h1 class="display-3 mt-4">Ready, Set, Grow.</h1>
                    <p class="lead text-white mb-4 mt-4">
                        A robust suite of styled components, powered by Bootstrap 4.  Take the design of your website or webapp up a notch.
                    </p>
                    <a href="#" class="btn btn-info btn-lg">Get started now</a>
                </div>
            </div>
        </div>
    </div>
</section>