<section class="py-md-5 block">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 mx-auto text-center">
                <h1 class="display-4 mt-2 section-title">Blog</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 aos-init aos-animate">
                <div class="post mb-5">
                    <a class="img-post" href="/post/the-17-best-tools-for-spying-on-your-competition-nqer4t">
                        <img src="{{{page.posts.img_1}}}=s512" class="img-fluid">
                    </a>
                    <div class="post-content mt-2r">
                        <span class="date">June 28, 2019</span>
                        <a href="/post/the-17-best-tools-for-spying-on-your-competition-nqer4t"><h4>The 17 Best Tools For Spying On Your Competition</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 aos-init aos-animate">
                <div class="post mb-5">
                    <a class="img-post" href="/post/5-elements-that-build-a-roster-of-terrific-clients-qrilpk">
                        <img src="{{{page.posts.img_2}}}=s512" class="img-fluid">
                    </a>
                    <div class="post-content mt-2r">
                        <span class="date">June 28, 2019</span>
                        <a href="/post/5-elements-that-build-a-roster-of-terrific-clients-qrilpk"><h4>5 Elements That Build A Roster Of Terrific Clients</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 aos-init aos-animate" >
                <div class="post mb-5">
                    <a class="img-post" href="/post/where-to-begin-when-its-time-to-edit-your-content-0pqsbx">
                        <img src="{{{page.posts.img_3}}}=s512" class="img-fluid">
                    </a>
                    <div class="post-content mt-2r">
                        <span class="date">June 28, 2019</span>
                        <a href="/post/where-to-begin-when-its-time-to-edit-your-content-0pqsbx"><h4>Where To Begin When It’s Time To Edit Your Content</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>