<!-- Pricing Block -->
<section class="py-5 pricing-block" style="background:#f9f9f9">
    <div class="container py-5">
        <div class="row block-header">
            <div class="col-sm-8 mx-auto text-center">
                <h1 class="display-4 mt-2 section-title">Pricing</h1>
                <hr>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, totam ipsa quia hic odit a sit laboriosam voluptatem in, blanditiis.</p>
            </div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col-md-4">
                <div class="pricing">
                    <p class="plan-term">Free</p>
                    <h2 class="price">0</h2>
                    <div class="text-muted price-details">
                        <span>1 Repository</span><br>
                        <span>1 Private Project</span><br>
                        <span>100 MB Attachment</span><br>
                    </div>
                    <p class="text-center py-3">
                        <a class="btn btn-primary" href="#">Get started</a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing active">
                    <p class="plan-term">Personal</p>
                    <h2 class="price text-success">
                        <span class="price-unit">$</span>
                        <span data-bind-radio="pricing" data-monthly="9" data-yearly="99">9</span>
                        <span class="plan-period" data-bind-radio="pricing" data-monthly="/mo" data-yearly="/yr">/mo</span>
                    </h2>
                    <div class="text-muted price-details">
                        <span>1 Repository</span><br>
                        <span>10 Private Project</span><br>
                        <span>10 GB attachment</span><br>
                    </div>
                    <p class="text-center py-3">
                        <a class="btn btn-success" href="#monthly" data-bind-href="pricing" data-monthly="#monthly" data-yearly="#yearly">Get started</a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing">
                    <p class="plan-term">Team</p>
                    <h2 class="price">
                        <span class="price-unit">$</span>
                        <span data-bind-radio="pricing" data-monthly="39" data-yearly="399">39</span>
                        <span class="plan-period" data-bind-radio="pricing" data-monthly="/mo" data-yearly="/yr">/mo</span>
                    </h2>
                    <div class="text-muted price-details">
                        <span>5 Repository</span><br>
                        <span>25 Private Project</span><br>
                        <span>100 GB attachments</span><br>
                    </div>
                    <p class="text-center py-3">
                        <a class="btn btn-primary" href="#monthly" data-bind-href="pricing" data-monthly="#monthly" data-yearly="#yearly">Get started</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6 col-lg-4">
                <div class="card pricing card-lg">
                    <div class="card-body">
                        <h5>Free</h5>
                        <span class="display-3 price-collapse collapse show">$0</span>
                        <span class="text-small">per user / month</span>
                        <span class="h6">Includes:</span>
                        <ul class="list-unstyled">
                            <li>
                                1 Active project
                            </li>
                            <li>
                                2 Repositories
                            </li>
                            <li>
                                2 Collaborators
                            </li>
                        </ul>
                        <a href="#" class="btn btn-lg btn-outline-primary mt-3">Download now</a>
                    </div>
                </div>
                <!--end card-->
            </div>
            <!--end of col-->
            <div class="col-md-6 col-lg-4">
                <div class="card pricing card-lg">
                    <div class="card-body">
                        <h5>Pro</h5>
                        <span class="display-3">$12</span>
                        <span class="text-small">per user / month</span>
                        <span class="h6">Includes:</span>
                        <ul class="list-unstyled">
                            <li>
                                1 Active project
                            </li>
                            <li>
                                2 Repositories
                            </li>
                            <li>
                                2 Collaborators
                            </li>
                        </ul>
                        <a href="#" class="btn btn-lg btn-success mt-3">Sign up now</a>
                    </div>
                </div>
                <!--end card-->
            </div>
            <!--end of col-->
            <div class="col-md-6 col-lg-4">
                <div class="card pricing card-lg">
                    <div class="card-body">
                        <h5>Corporate</h5>
                        <span class="display-3">$29</span>
                        <span class="text-small">per user / month</span>
                        <span class="h6">Includes:</span>
                        <ul class="list-unstyled">
                            <li>
                                Unlimited active projects
                            </li>
                            <li>
                                Unlimited repositories
                            </li>
                            <li>
                                Unlimited collaborators
                            </li>
                        </ul>
                        <a href="#" class="btn btn-lg btn-outline-primary mt-3">Sign up now</a>
                    </div>
                </div>
                <!--end card-->
            </div>
            <!--end of col-->
        </div>

    </div>
</section>