<section class="py-md-5 block testimonial-block">
    <div class="container py-5">
        <div class="row block-header">
            <div class="col-sm-8 mx-auto text-center">
                <h1 class="display-4 section-title">Testimonials</h1>
                <hr>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, totam ipsa quia hic odit a sit laboriosam voluptatem in, blanditiis.</p>
            </div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col-md-6">
                <blockquote class="blockquote">
                    <p><img class="avatar" src="{{{page.testimonial.img_1}}}" alt="..."></p>
                    <p>When you innovate, you make mistakes. It is best to admit them quickly, and get on with improving your other innovations.</p>
                    <p class="name">Steve Jobs</p>
                </blockquote>
            </div>
            <div class="col-md-6">
                <blockquote class="blockquote">
                    <p><img class="avatar" src="{{{page.testimonial.img_2}}}" alt="..."></p>
                    <p>Technology is just a tool. In terms of getting the kids working together and motivating them, the teacher is important.</p>
                    <p class="name">Bill Gates</p>
                </blockquote>
            </div>
        </div>
    </div>
</section>